{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static '/css/now-ui-kit.css' %}">
</head>

<body class="bg-dark" style=" background-image: linear-gradient(to bottom, rgba(102,0,0,1), rgba(0, 0, 0, 0.8));  background-position: top left;  background-size: 200%;  background-repeat: no-repeat;">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14">
        <p class="navbar-brand mb-0 text-white">
          <i class="fa d-inline fa-lg fa-stop-circle"></i> BIKE SHARING </p>
      </button>
      <div class="collapse navbar-collapse" id="navbar14">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-user fa-fw"></i>LOGOUT</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'laporan_adm' %}">LAPORAN</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'penugasan_adm' %}">PENUGASAN</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'acara_adm' %}">ACARA</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'stasiun_adm' %}">STASIUN</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'sepeda_adm' %}">SEPEDA</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">VOUCHER</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">PEMINJAMAN</a> </li>
          <li class="nav-item dropdown" contenteditable="true"><br>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">STASIUN<a class="dropdown-item" href="#">PEMINJAMAN</a><a class="dropdown-item" href="stasiun_adm">DAFTAR STASIUN</a><a class="dropdown-item" href="sepeda_adm">DAFTAR SEPEDA</a></div>
          </li>
        </ul>
      </div>
    </div>
    <span class="navbar-text">BIKE SHARING</span>
  </nav>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pt-5">
          <h1 class="text-center">DAFTAR ACARA</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Judul</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col">Tanggal Mulai</th>
                  <th scope="col">Tanggal Akhir</th>
                  <th scope="col" contenteditable="true">Is Free</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in daftar %}
                <tr>
                  <td class="number"><center>{{ forloop.counter }}</center></td>
                  <td class="judul"><center>{{ i.judul }}</center></td>
                  <td class="deskripsi"><center>{{ i.deskripsi }}</center></td>
                  <td class="tgl_mulai"><center>{{ i.tgl_mulai }}</center></td>
                  <td class="tgl_sls"><center>{{ i.tgl_akhir }}</center></td>
                  <td class="gratis"><center>{{ i.is_free}}</center></td>
                  <td>
                    <a class="btn btn-dark" href="{% url 'update_acara' id=i.id_acara %}">Update</a>
                    <a class="btn btn-dark" data-toggle="modal" data-target="#myModal-{{ i.id_acara }}">Delete</a>
                    <div class="modal fade" id="myModal-{{ i.id_acara }}" role="dialog">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Peringatan</h4>
                          </div>
                          <div class="modal-body">
                            <p> Apakah benar ingin menghapus acara tersebut?</p>
                          </div>
                          <div class="modal-footer">
                            <a class="btn btn-dark" data-dismiss="modal-{{ i.id_acara }}" href="{% url 'del_acr' id=i.id_acara %}">Ya</a>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Tidak</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <a class="btn btn-dark" href="{% url 'add_acara' %}">Tambah Acara</a>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>