<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="assets/css/now-ui-kit.css">
</head>

<body class="bg-dark" style="	background-image: linear-gradient(to bottom, rgba(102,0,0,1), rgba(0, 0, 0, 0.8));	background-position: top left;	background-size: 150%;	background-repeat: no-repeat;">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14">
        <p class="navbar-brand mb-0 text-white">
          <i class="fa d-inline fa-lg fa-stop-circle"></i> BIKE SHARING </p>
      </button>
      <div class="collapse navbar-collapse" id="navbar14">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-user fa-fw"></i>LOGOUT</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'laporan_adm' %}">LAPORAN</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">PENUGASAN</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">ACARA</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">STASIUN</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">SEPEDA</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">VOUCHER</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">PEMINJAMAN</a> </li>
          <li class="nav-item dropdown" contenteditable="true"><br>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">STASIUN<a class="dropdown-item" href="#">PEMINJAMAN</a><a class="dropdown-item" href="#">DAFTAR STASIUN</a><a class="dropdown-item" href="#">DAFTAR SEPEDA</a></div>
          </li>
        </ul>
      </div>
    </div>
    <span class="navbar-text">BIKE SHARING</span>
  </nav>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pt-5">
          <h1 class="text-center">FORM PENAMBAHAN VOUCHER</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form id="c_form-h" class="" style="">
            <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">Nama</label>
              <div class="col-10">
                <input type="text" class="form-control" id="inputmailh" placeholder="..."> </div>
            </div>
            <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">Kategori</label>
              <div class="col-10">
                <input type="text" class="form-control" id="inputmailh" placeholder="..."> </div>
            </div>
            <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">Nilai Poin</label>
              <div class="col-10">
                <input type="text" class="form-control" id="inputmailh" placeholder="..."> </div>
            </div>
            <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">Deskripsi</label>
              <div class="col-10">
                <input type="text" class="form-control" id="inputmailh" placeholder="..."> </div>
            </div>
            <div class="form-group row"> <label for="inputpasswordh" class="col-2 col-form-label">Jumlah</label>
              <div class="col-10">
                <input type="number" class="form-control" id="inputpasswordh" placeholder="..."> </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>