<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">
  <link rel="stylesheet" href="assets/css/now-ui-kit.css" type="text/css">
  <link rel="stylesheet" href="assets/css/nucleo-icons.css" type="text/css">
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title> Bike Sharing - Home </title>
  <meta name="description" content="Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.">
  <meta name="keywords" content="bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, now ui, now ui kit, creative tim, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit">
</head>

<body class="">
  {% if messages %}
    <ul>
      {% for message in messages %}
         <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14">
        <p class="navbar-brand mb-0 text-white">
          <i class="fa d-inline fa-lg fa-stop-circle"></i> BIKE SHARING </p>
      </button>
      <div class="collapse navbar-collapse" id="navbar14">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target="#modalLoginForm"><i class="fa fa-user fa-fw"></i>LOGIN</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'acara_ptg' %}">ACARA</a>
          </li>
          <li class="nav-item"> <a class="nav-link" href="#">STASIUN</a> </li>
        </ul>
      </div>
    </div>
    <span class="navbar-text">BIKE SHARING</span>
  </nav>
  <div class="py-5 text-center parallax cover gradient-overlay" style="	background-image: url(assets/img/bg5.jpg);	position: relative;	background-position: center center;	background-size: cover;	background-repeat: repeat;">
    <div class="container d-flex flex-column" style="	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
      <div class="row my-auto">
        <div class="col-md-12 text-white">
          <div class="row">
            <div class="col-md-12"><i class="fa fa-bicycle fa-5x w-100"></i></div>
          </div>
          <h1 class="mb-3 display-1">BIKE SHARING</h1>
          <h3 class="mb-5">everyday is leg day.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">FORM LOGIN</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="p-4 bg-light" method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
            <label>No. ktp</label>
            <input class="form-control" name="ktp" required="required" placeholder="Nomor KTP Anda"> </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email Anda" required="required"> </div>
          <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
            <b>Login</b>
          </button>
        </form>
    </div>
  </div>
  </div>

  <div class="text-center">
  </div>
  <div class="py-5 bg-dark" style="	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));	background-size: 100%;	background-position: top left;	background-repeat: repeat;">
    <div class="container" style="">
      <div class="row my-4">
        <div class="mx-auto col-md-6 col-10 col-xl-4 px-4">
          <div class="row mt-6">
            <div class="col-md-12">
              <h5 class="mb-5" style="padding-left: 120px">
                <b>REGISTER</b>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <!-- <div class="col-md-4">
          <a href="" data-toggle="modal" data-target="#modalRegisterAdmin"><h4 class="text-center">Daftar Sebagai Admin</h4></a>
        </div> -->
        <div class="col-md-6">
          <a href="" data-toggle="modal" data-target="#modalRegisterPetugas"><h4 class="text-center">Daftar Sebagai Petugas</h4></a>
        </div>
        <div class="col-md-6">
          <a href="" data-toggle="modal" data-target="#modalRegisterAnggota"><h4 class="text-center">Daftar Sebagai Anggota</h4></a>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modalRegisterPetugas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">FORM PENDAFTARAN PENGGUNA</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="p-4 bg-light" method="POST"  action="{% url 'register_petugas' %}">
            {% csrf_token %}
            <div class="form-group">
              <label>No. ktp</label>
              <input class="form-control" name="ktp" required="required" placeholder="Nomor KTP Anda"> </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" required="required" placeholder="Email Anda"> </div>
            <div class="form-group">
              <label>Tanggal lahir</label>
              <input type="date" class="form-control" name="tgl_lahir" required="required" placeholder="yyyy-mm-dd"> </div>
            <div class="form-group">
              <label>Nomor telepon</label>
              <input class="form-control" name="no_telp" required="required" placeholder="Nomor telepon Anda"> </div>
            <div class="form-group">
              <label>Alamat</label>
              <input class="form-control" name="alamat" required="required" placeholder="Alamat Anda"> </div>
            <div class="form-group">
              <label>Kode petugas</label>
              <input class="form-control" name="kode" required="required" placeholder="Kode Khusus Petugas"> </div>
            <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
              <b>Submit</b>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalRegisterAnggota" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">FORM PENDAFTARAN PENGGUNA</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="p-4 bg-light" method="POST"  action="{% url 'register_anggota' %}">
            {% csrf_token %}
            <div class="form-group">
              <label>No. ktp</label>
              <input class="form-control" name="ktp" required="required" placeholder="Nomor KTP Anda"> </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" required="required" placeholder="Email Anda"> </div>
            <div class="form-group">
              <label>Tanggal lahir</label>
              <input type="date" class="form-control" name="tgl_lahir" required="required" placeholder="yyyy-mm-dd"> </div>
            <div class="form-group">
              <label>Nomor telepon</label>
              <input class="form-control" name="no_telp" required="required" placeholder="Nomor telepon Anda"> </div>
            <div class="form-group">
              <label>Alamat</label>
              <input class="form-control" name="alamat" required="required" placeholder="Alamat Anda"> </div>
            <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
              <b>Submit</b>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="assets/js/parallax.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
  <script>
    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();
      $('[data-toggle="tooltip"]').tooltip();
      $('#datepicker-example').datepicker({
        calendarWeeks: true,
        autoclose: true,
        todayHighlight: true
      });
    });
  </script>
</body>

</html>